:root {
  --bruins-primary: #000000;
  --bruins-secondary: #FFB81C;
  --bruins-text: white;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* my added stuff */
.nav {
  background-color: var(--bruins-primary);
}

.li {
  background-color: var(--bruins-secondary);
}

.header-text {
  color: var(--bruins-text);
}

/*  this above will need to change based on favorite team object*/

.img {
  height: 100px;
}

/* my added stuff */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
